<!-- navbar -->
<nav class="nav-wrapper indigo lighten-1">
    <div class="container">
        <a href="" class="brand-logo logo"><span>ENSA</span>news</a>
        <a href="" class="sidenav-trigger" data-target="mobile-menu">
            <i class="material-icons">menu</i>
        </a>
    <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li>
            <a href="" class="tooltipped btn-floating btn-small indigo darken-5" data-tooltip="contact me on instagram">
                <i class="fab fa-instagram !"></i>
            </a>
        </li>
        <li>
            <a href="" class="tooltipped btn-floating btn-small indigo darken-5" data-tooltip="contact me on facebook">
                <i class="fab fa-facebook !"></i>
            </a>
        </li>
        <li>
            <a href="" class="tooltipped btn-floating btn-small indigo darken-5" data-tooltip="contact me on twitter">
                <i class="fab fa-twitter !"></i>
            </a>
        </li>
    </ul>
    <ul class="sidenav grey lighten-2" id="mobile-menu">
        <li>
    
            <a href="" class="indigo center align valign-center white-text text-lighten-2 logo"><span>ENSA</span>news</a>
            
        </li>
        <li><div class="divider"></div></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
    </ul>
    </div>
</nav>

