
<!-- Element Showed -->
<div class="fixed-action-btn">
    <a id="menu" class="btn btn-floating btn-large indigo lighten-1" id="open"><i class="material-icons">menu</i></a>
</div>

<!-- Start Tap Target Structure -->
<div class="tap-target indigo lighten-1" data-target="menu">
<div class="tap-target-content white-text">
  <h5>Welcome to ENSAnews</h5>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
  Lorem Ipsum has been the industry's standard dummy text...</p>
</div>
</div>

<!-- Start Buttons -->
<div class="fixed-action-btn">
  <a class="btn btn-floating btn-large indigo lighten-2" id="open"><i class="material-icons">menu</i></a> 
</div>