<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- costume css -->
    <link rel="stylesheet" href="/styles.css">
    <title>ENSAnews</title>
</head>
<body>
   <header>
        <%- include ('../../partials/header.ejs') %>
   </header>
   <section class="section container" id="contact">
    <h4 class="center">register</h4>
    <div class="row">
        <div class="col s12 l8 offset-l2">
            <form action="register" method="POST" class="comments-form">
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="username" name="username" class="">
                    <label for="username">username</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input type="text" id="email" name="email" class="">
                    <label for="email">email</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" id="password" name="password" class="">
                    <label for="password">password</label>
                </div>
                <div class="input-field center">
                    <button class="btn indigo indigo-darken4">login</button>
                </div>
            </form>
        </div>
    </div>
</section>

   <footer class="page-footer grey darken-3">
        <%- include ('../../partials/footer.ejs') %>
   </footer>
<!-- jquey -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- sidenav and nav script  -->
<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.slider').slider();
        $('.tooltipped').tooltip();
        $('.modal').modal();
    });
</script>  
<!-- costume scripts -->
</body>
</html>