/* costume font */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;1,700&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;1,700&family=Courgette&family=Open+Sans:wght@300&display=swap');

.logo span{
    font-family: 'Noto Serif', serif;
}
.logo{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,a{
    font-family: 'Open Sans', sans-serif;
}

article{
    margin: 50px 0px;
}

#comment{
    height: 100px;
}

blockquote {
    border-left: 5px solid #5c6bc0 ;
}

.collection .collection-item.avatar .title {
    font-size: 16px;
    font-weight: bold;
}

.handling-btn{
    margin: 10px 5px;
}

.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}
.popup-title{
    font-family:  'Open Sans', sans-serif; 
    font-weight: bold;
}

/* new blog style */
.newBlog .body{
    height: 300px;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius:  0px 20px 20px 0px ;
}
.newBlog .input-field .snippet{
    height: 100px;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius:  0px 20px 20px 0px ;
    
}

.bodyBlog{
    font-size: 18px;
}
/* style the first letter */
.bodyBlog:first-child:first-letter{
    color: #5c6bc0 ;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

/* delete comment  */
.delete-comment{
    margin-top: 30px;
    color: red;
}

.add_btn{
    height: 60px;
    width: 60px;
    background-color: white;
}

.add_btn i{
    padding-top: 10px;
}

.card-image img{
    max-height: 400px;
}

.blogCardConten{
    height: 180px;
    max-height: 180px;
    overflow: hidden;
    text-overflow: ellipsis; 
    
}