/* costume font */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;1,700&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;1,700&family=Courgette&family=Open+Sans:wght@300&display=swap');

.logo span{
    font-family: 'Noto Serif', serif;
}
.logo{
    font-family: 'Open Sans', sans-serif;
}

article{
    margin: 50px 0px;
}